.GameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    position: static;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.person {
    position: relative;
    height: 210px;
    width: 71px;
    bottom: 32%;
    /* border: 1px solid black; */
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.body,
.handleft,
.handright,
.footleft,
.footright {
    position: relative;
    border: 1px solid black;
    height: 100px;
    width: 0;
    left: 35px;
}

.handleft,
.footleft {
    position: relative;
    transform: rotate(45deg);
    left: 17px;
    height: 50px;
}

.handright,
.footright {
    position: relative;
    transform: rotate(-45deg);
    left: 53px;
    height: 50px;
}

.handleft {
    bottom: 110px;
}

.handright {
    bottom: 162px;
}

.footleft {
    bottom: 112px;
}

.footright {
    bottom: 164px;
}

.poleContainer
{
    position: relative;
    height: 310px;
    width: 100px;
    top: 22%;
    /* border: 1px solid black; */
    right: 17%;
}
.left
{
    position: relative;
    border: 1px solid black;
    height: 300px;
    width: 0;
}

.top
{
    position: relative;
    border: 1px solid black;
    height: 0;
    width: 135.5px;
}

.right
{
    position: relative;
    border: 1px solid black;
    height: 40px;
    width: 0;
    left: 136%;
    bottom: 98%
}

.bottom
{
    position: relative;
    border: 1px solid black;
    height: 0;
    width: 100px;
    right: 50%;
    bottom: 13.5%;
}

.WordContainer
{
    position:relative;
    width: 500px;
    /* height: 130px; */
    /* border: 5px solid blue; */
    bottom: 15%;
}
.alphabetsContainer
{
    display: grid;
    grid-template-rows: repeat(2, 40px);
    grid-template-columns: repeat(13, 38.5px);
    height: 80px;
    width: 500px;
    /* border: 3px solid red; */
}
.alphabet
{
    position: relative;
    /* width: 40px;
    height: 40px; */
    border: 1px solid black;
}

.answerContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 500px;
    border: 1px solid black;
}

.word
{
    border: 1px solid black;
    width: 40px;
    height: 40px;
}